@model IEnumerable<ShopFarmProject.Models.Product>

@{
    ViewData["Title"] = "IndexCus";
}
<style>
    .tbody {
        background-color: lightpink
    }

    .table {
        background-color: lightslategray
    }
</style>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
             <td>
                    <img class="prod" src="/Images/@item.Image" alt="Product_Photo" width="50" height="50">
             </td>
            <td>
                @Html.ActionLink("Add Cart", "AddCart", new {  id=item.Id }) 
               
            </td>
        </tr>
}
    </tbody>
</table>
